{% extends 'layout.jinja2' %}

{% block content %}

	<h1 class="mt-5">Welcome to Project UWBLS <i>(oo-bulls)</i>: An ENEL 400 Project</h1>
	<p class="lead">This project aims to track the exact location of one or more "tags", moving in realtime in a 2D or 3D space.</p>
	<p>This project, designed for ENEL 400 (Winter 2020), was created to track the position of marching band performers during a field show, to be used for analytics purposes realtime and/or after performances/rehearsals.</p>

	<div class="card">
		<div class="card-header">
			Get Started
		</div>

		<div class="card-body">

			<a class="btn btn-primary" href="/anchors">Modify Anchor Settings</a>

			<a class="btn btn-primary" href="/video">See Recent Requests</a>

		</div>

	</div>


{% endblock %}